<ion-header>

  <ion-navbar>
    <ion-title>Rules</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <p style="margin-bottom: 0.11in"><strong>Contents:</strong></p>
  <P STYLE="margin-bottom: 0.11in">1 Playing Board</P>
  <P STYLE="margin-bottom: 0.11in">1 <B>Dream</B> Deck</P>
  <P STYLE="margin-bottom: 0.11in">1 <B>Nightmare</B> Deck</P>
  <P STYLE="margin-bottom: 0.11in">6 <I>DREAMER</I> Cards</P>
  <P STYLE="margin-bottom: 0.11in">1 <U>6-sided Die</U></P>
  <P STYLE="margin-bottom: 0.11in">6 Game Pieces (different colors)</P>
  <P STYLE="margin-bottom: 0.11in">A FREE <I>APP</I> can be downloaded
    on the <I>Apple App Store </I>as well as the <I>Android Play Store</I>
    that will help make decisions throughout the game.
  </P>
  <P><br>
  <P STYLE="margin-bottom: 0.11in"><B>Set-up:</B></P>
  <P STYLE="margin-bottom: 0in; line-height: 100%">Each player begins
    the game by placing a game piece at the [Start] point indicated on
    the board.
  </P>
  <P>
  <P STYLE="margin-bottom: 0in; line-height: 100%">Each player receives
    <I>[1]</I> <I>DREAMER</I> card.
  </P>
  <P><br>
  <P STYLE="margin-bottom: 0.11in"><B>Rules:</B></P>
  <OL>
    <LI><P STYLE="margin-bottom: 0.11in"><U>Active Player:</U></P>
  </OL>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">Using the <I>APP</I>
    a player is chosen and the game starts in a <I>clockwise</I>
    rotation. The player begins his/her turn by either drawing a card
    (and letting the app decide whom it affects) or rolling a die and
    moving the appropriate amount of spaces forward. If a card is drawn,
    the turn ends following the action of the card. If a die is rolled,
    after moving forward the amount of spaces shown on the die, the
    player can decide to either draw a card (and let the app decide whom
    it affects) or roll again, move forward and end his/her turn.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><A NAME="_GoBack"></A>
    <B>*(Once a player has drawn a card no further actions can be taken
      following the action of the card. The use of the app will be
      incorporated to determine which player(s) will endure the Nightmare
      or benefit from the Dream).  </B>
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>**(No 2
    players may occupy the same space on the board, if this occurs, the
    active player will move to the next available space forward).</B></P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">The board
    consists of 2 different tiles, a <FONT COLOR="#ffffff"><SPAN STYLE="background: #000000">Black</SPAN></FONT><FONT COLOR="#ffffff">
    </FONT>tile and a White tile.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">If a player
    lands on a <FONT COLOR="#ffffff"><SPAN STYLE="background: #000000">Black</SPAN></FONT>
    tile, they must draw a <B>Nightmare</B> card and that player must
    endure its effects.</P>
  <P>
    <OL START=2>
      <LI><P STYLE="margin-bottom: 0.11in"><U>Drawing a Card:</U></P>
  </OL>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">The active
    player has the option of drawing from one of two decks.</P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>Dream</B>
    deck: Contains cards that will move a player forward a certain number
    of spaces [1-5] on the board.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>Nightmare</B>
    deck: Contains cards that will move a player backward a certain
    number of spaces [1-5] on the board.
  </P>
  <OL START=3>
    <LI><P STYLE="margin-bottom: 0.11in"><U>Effects of the Cards:</U></P>
  </OL>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">Once a player
    has drawn a card the <I>APP</I> will be used to determine which
    player must endure its effects.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">If a card is
    drawn due to a player landing on a black tile, the card applies to
    that player only.
  </P>
  <P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><I>DREAMER</I>
    card: Card can be used during a player’s turn to direct the effects
    of any of <I>their</I> chosen <B>Dream</B> or <B>Nightmare</B> cards
    onto one player of their choosing but themselves.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>**(This is a
    one-time use card) </B>
  </P>
  <P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><I><B>Jester</B></I>
    card: Both sets of decks will contain <I>[1]</I> <I><B>Jester</B></I>
    card:</P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>Nightmare</B>
    <I><B>Jester</B></I> card: When the Jester card is drawn from the
    <B>Nightmare</B> Deck, the <I>APP</I> decides which player switches
    places with the player in <U>LAST</U> place.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>*At any point
    if a Jester card is chosen as a result of landing on a black tile,
    the affects apply to that player. </B>
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>Dream</B>
    <I><B>Jester</B></I> card: When the Jester card is drawn from the
    <B>Dream</B> Deck, the <I>APP</I> decides which player is deemed to
    switch places with the player in <U>FIRST</U> place.</P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">*(<I>DREAMER</I>
    cards cannot be used on <I><B>Jester</B></I> cards)</P>
  <p>
    <OL START=4>
      <LI><P STYLE="margin-bottom: 0.11in"><U>Phases:</U></P>
  </OL>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">Throughout the
    game there will be <I>[2]</I> alternating phases, <B>Dream</B> and
    <B>Nightmare</B> Phase. Each phase will have a different influence on
    the game:</P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>Dream</B>
    Phase: During this phase, <B>Dream</B> card effects double in
    quantity.</P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in"><B>Nightmare</B>
    Phase: During this phase, <B>Nightmare</B> card effects double in
    quantity.
  </P>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">These phases
    will be indicated by the <I>APP</I>, For the <B>Dream</B> phase, the
    <I>APP</I> will display angelic figures and for the <B>Nightmare</B>
    phase, the <I>APP</I> will display demonic figures.
  </P>
  <P>
    <OL START=5>
      <LI><P STYLE="margin-bottom: 0.11in"><U>Finishing the Game:</U></P>
  </OL>
  <P STYLE="margin-left: 0.5in; margin-bottom: 0.11in">The first player
    that passes the <I>[100</I><SUP><I>th</I></SUP><FONT SIZE=3><I>]</I></FONT><FONT SIZE=3>
      tile is the winner. </FONT>
  </P>
  <P>
  <P STYLE="margin-bottom: 0.11in"><BR><BR>
  </P>
</ion-content>
