page-home {
  font-family: 'Underdog', cursive;
  .circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* width and height can be anything, as long as they're equal */
  }
  .center {
    margin: auto;
  }
  .selected{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #3f3f3f;
  }
}
