

<ion-content padding>
  <div class="center" style="font-size: 50px; text-align: center; padding: 15px"><img style="width: 50%;" src="assets/somnium_logo-v2-iphone.png"></div>

    <div class="center" style="font-size: 30px; text-align: center; padding: 15px">Players</div>

  <div  class="center" style="font-size: 20px; text-align: center; ">Select the colors that will be playing.</div>
  <ion-grid style="margin-top: 30px; margin-bottom: 30px; height:170px ">
    <ion-row >
      <ion-col *ngFor="let player of allPlayers" col-4 style="height:85px"><div (click)="selectPlayer(player)" class="circle center" [class.selected]="player.selected" [style.background-color]="player.color" ></div></ion-col>

    </ion-row>
  </ion-grid>

  <button ion-button  color="dark" outline round block (click)="playGame()">Start</button>
  <button ion-button  color="dark" outline round block (click)="rulesPage()">Rules</button>
  <button ion-button  color="dark" outline round block (click)="purchase()">Purchase Game</button>
</ion-content>
