<!--
  Generated template for the RandomImagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Play</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding   [class.dark-background]="backgroundImage=='dark'" [class.light-background]="backgroundImage=='light'"  (click)="changeImage()">

    <!--<div *ngFor="let player of players">{{player.name}}</div>-->
    <img *ngIf="currentNumber!=-1 " [ngClass]="toggle?'fade-in':'fade-out'" class="center-image animate" [src]="getEvenImage()"  >
  <img *ngIf="currentNumber!=-1 && lastNumber!=-1"  [ngClass]="toggle?'fade-out':'fade-in'" class="center-image animate" [src]="getOddImage()"  >

</ion-content>
